
<html>
<head>

<!--  twitter bootstrap, jquery -->	

</head>
<body>


<!--  python jinja2 template -->
	{% extends "layout.html" %}
	
	{% for team in teams %}
	<div>
		hello 
		I am old but new
		{{ team }}
		{{ msg }}
	</div>
	{$ endfor %}
	{% if current_admin.has_permission("some.list") %}
	<div>
		hi
		we are the world
	</div>
	{% endif %}



<!-- angularjs template -->


	<div ng-app = "mainApp" ng-controller="MyController">
		<div>
			hello 
			I am old but new
			<div ng-view></div>    ng-click="changeFoo()" ng-model="foo" value="bar"
		</div>
		<div>
			hi
			we are the world
			{{message}}  from $scope.message
		</div>
	</div>
	
</body>


</html>